@tailwind base;
@tailwind components;
@tailwind utilities;

/* logo colors
 #F2FF01
 rgb(242,255,1)  - yellow

 #FF3131 - red
 rgb(255,49,49)

 #f2f2f2 - white
 rgb(242,242,242)
 */

:root {
  --background: #ff3131;
  --foreground: #f2ff01;
  --border: #ffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ff3131;
    --foreground: #f2ff01;
  }
}

body {
  background-color: var(--border);
  color: #eeeef2;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-scroll-chaining: none;
  opacity: 1;
  overscroll-behavior: none;
  position: relative;
  -webkit-overflow-scrolling: touch;
  font-family: Suisse Intl, Open Sans, Helvetica, sans-serif;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-property: opacity, background, color;
}

.blur-circle {
  background: radial-gradient(#f2ff01, rgba(107, 121, 238, 0) 70%);
  border-radius: 50%;
  height: 70vw;
  left: 40%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.25);
  -moz-transform: translate(-50%, -50%) scale(0.25);
  -webkit-transform: translate(-50%, -50%) scale(0.25);
  -o-transform: translate(-50%, -50%) scale(0.25);
  -ms-transform: translate(-50%, -50%) scale(0.25);
  width: 60vw;
  z-index: -1;
}

.intro-container {
  position: fixed;
  top: 0.6rem;
  left: 0.7rem;
  right: 0.7rem;
  bottom: 0.7rem;
  z-index: 1;
  border-radius: 20px;
  background: var(--background);
  overflow: hidden; /* Prevents scrolling on the container itself */
}

.inner-content {
  font-size: 15.5vw;
  font-family: var(--font-tunnels);

  /* align-items: flex-start;
  height: 100vh;
  min-height: auto;
  padding-bottom: 4.1666vw;
  padding-top: 17.5vh;
  z-index: 5;
  padding-left: 12.4998vw;
  padding-right: 12.4998vw;
  font-size: clamp(90px, 15.27vw, 340px); */
}

.inner-content::-webkit-scrollbar {
  display: none;
}

.text {
  font-size: 15.5vw;
  font-family: var(--font-tunnels);

  /*
  padding: 6rem; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
