@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #19191b;
  --foreground: #f2ff01;
  --border: #ffff;
}

@keyframes morph {
  0% {
    d: path(
      "M150,10 C70,10 10,70 10,150 C10,230 70,290 150,290 C230,290 290,230 290,150 C290,70 230,10 150,10 Z"
    );
  }
  50% {
    d: path(
      "M150,10 C20,10 10,90 10,150 C10,210 20,290 150,290 C280,290 290,210 290,150 C290,90 280,10 150,10 Z"
    );
  }
  100% {
    d: path(
      "M150,10 C70,10 10,70 10,150 C10,230 70,290 150,290 C230,290 290,230 290,150 C290,70 230,10 150,10 Z"
    );
  }
}

#morphPath {
  animation: morph 8s ease-in-out infinite;
  fill: #292929;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

svg {
  animation: float 6s ease-in-out infinite;
}

.mar {
  font-size: 38vw;
}

/*  page.tsx -------------------------> */

.intro-container {
  position: fixed;
  top: 0.6rem;
  left: 0.7rem;
  right: 0.7rem;
  bottom: 0.7rem;
  z-index: 1;
  border-radius: 20px;
  background: #f1f1f1;
  padding: 2rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.inner-content {
  font-size: 15vw;
  font-family: var(--font-Basis-Medium);
  color: #292929;
  letter-spacing: -4px;
  min-height: 120vh;
}

.inner-content::-webkit-scrollbar {
  display: none;
}

/* mainTwo Container ----------------> */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  position: relative;
}
